$color-gold: #daa520;
$color-light: #f3f3f3;
$color-black: #000000;
$color-white: #ffffff;
$color-border: #ccc;

$w-100: 100%;
$w-150: 150px;
$w-20: 20px;
$w-30: 30px;
$w-250: 250px;

$h-100: 100%;
$h-250: 250px;
$h-150: 150px;

$max-w-50: 50%;
$max-w-1024: 1024px;

$fs-46: 46px;
$fs-32: 32px;
$fs-20: 20px;
$fs-16: 16px;
$fs-18: 18px;
$fs-14: 14px;

$fw-medium: 500;
$fw-bold: 700;

$pd-50: 50px;
$pd-30: 30px;
$pd-20: 20px;
$pd-10: 10px;

$gap-40: 40px;
$gap-30: 30px;
$gap-10: 10px;
$gap-5: 5px;