@use '../../styles/utils/variables' as *;
@use '../../styles/utils/mixins' as *;

.header {
max-width: $max-w-1024;
  width: $w-100;
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;

  @include flex-center;

  &__content {
    max-width: $max-w-50;
    @include flex-center;
    flex-direction: column;
    text-align: center;
  }

  &__title{
    font-size: $fs-46;
    letter-spacing: 5px;
    color: $color-light;
    font-weight: $fw-medium;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  }

  &__text{
    font-size: $fs-32;
    color: $color-gold;
    font-family: "Dancing Script", cursive;
  }
}
